<head>
      <title>Satilik</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script type="text/javascript" src="emlak_javascript/script.js"></script>
    <link href="../emlak_css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
  <div class="row">
  <div class="col-xl-4"></div>
  <div class="col-xl-4">
  <a href="pics">Post a new ad</a><br />
  <a href="deleteMain">Delete a post</a>
  </div>
  </div>
</body>