
        <head>
            <title>Murat</title>
           
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
                <link href="emlak_css/style.css" type="text/css" rel="stylesheet">
                
        </head>
        <body>
            <div class="jumbotron">
                <div class="container-fluid testing">
                    <div class="row">
                        <div class="col-1 col-md-4 col-xl-4"></div>
                        <div class="col-11 col-md-4 col-xl-4 siber" style="border: 10px solid #FFF12C; margin-top: 350px; text-align: center; color: gold;"><h1>SIBER <br/>GAYRIMENKUL</h1></div>
                        <div class="col-md-4 col-xl-4"></div>
                        <div class="col-md-4 col-xl-4"></div>
                        <div class="col-md-4 col-xl-4 navlinks"  style="margin-top:50px;">
                            <div class="row">
                                <a href="#main" class="col-md-5 col-xl-5 btn btn-dark mainNav disp">
                                    Hakkimizda
                            </a>
                                <div class="col-md-1 col-xl-1"></div>
                                <a href="#" class="col-md-5 col-xl-5 btn btn-dark iletisim">Iletisim</a>
                               <div class="col-md-12 col-xl-12"></div>
                                <a href="getRental" class="col-md-5 col-xl-5 btn btn-dark kiralik disp">
                                        Kiralik
                                    </a>
                                    <div class="col-md-1 col-xl-1"></div>
                                    <a href="getSale" class="col-md-5 col-xl-5 btn btn-dark satilik disp">
                                            Satilik
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-12" id="main">
            <div class="row">
                <div class="col-1"></div>
            <div class="col-10 content">
            <div class="container second">
                <div class="row">
                    <div class="col-3"></div>
                <div class="col-12 col-xl-6">
                    <h2> WE ARE....</h2>
                    <p>What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            </div>
            
            
            <div class="container third">
                <div class="row">
                    <div class="col-12 col-xl-6">
                       What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                    <div class="col-12 col-xl-6 secondthird">
                        PICTURE
                    </div>
                </div>
            </div>
            
            <div class="container fourth">
                <div class="row">
                    <div class="col-12 col-xl-6 secondthird">
                        PICTURE
                    </div>
                    <div class="col-12 col-xl-6">
                       What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </div>
                </div>
            </div>
            
            <div class="container-fluid fifth">
                <footer class="footer foot">
                    <div class="row bottomLine">
                        
                    <div class="col-6">
                      
                        <div class="col-12"><p>222 Sokak Hatay Konak, IZMIR</p></div>
                        <div class="col-12"><p>444-44-44</p></div>
                        <div class="col-12"><p>iletisim@iletisim.com</p></div>
                        
                    </div>
                    
                    <div class="col-6">
                    <h5>SIBER GAYRIMENKUL</h5>
                    <p>Siber Gayrimenkul 500 yildir hizmetinizdedir.</p>
                    </div>
                        </div>
                </footer>
            </div>
                </div>
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
            <script style="text/javascript" src="emlak_javascript/jScript.js"></script>
            <script style="text/javascript" src="/views/jquery.arctic_scroll.js"></script>
           
        </body>
   