<head>
      <title>{{title}}</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>

<h1>{{ title }}</h1>
<nav class="nav justify-content-center col-lg-4" style="margin: auto">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a>
</nav>
<div class="jumbotron container" style="border: 2px solid black;">
<p>Welcome {{ title }}</p>
<p>Your id number is: {{ id }}</p>
<p>This is your profile</p>
</div>

