{{!-- <!doctype html>
<html> --}}
    <head>
        <title>Murat</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
            
        <style>
        input {
            margin: 4px;
            width: 250px;
        }
        </style>
    </head>
    {{!-- <body> --}}
        <h1>HTML FORM</h1>
        <p>Registir a new user</p>
        <div class="jumbotron container" style="text-align:right; width:400px; border: 1px dashed #6495de; padding: 16px;">
            <form action="/login_test" method="POST">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="name"/><br />
                    <label for="username">Username</label>
                    <input id="username" type="text" name="username"/><br />
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email"/><br />
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password"/><br />
                    <input type="submit" value="Submit File" />
            {{!-- </form>
        </div>
    </body>
</html> --}}